body{
    margin: 0;
    min-height: 100vh;
    background: url(../src/imgs/BG_1.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
}

header{
    text-align: center;
}

h1{
    font-size: 4rem;
    color: rgba(136, 131, 131, 0.905);
    text-shadow: 2px 2px #4b2727;
}

/* game selection */

#startContainer{
    display: flex;
    justify-content: center;
 } 

 #shipDescriptionContainer{
    padding-left: 20px;
    margin-bottom: 0;
    display: flex;
 }

 .amountDescription{
    color:rgb(0, 0, 0);
    text-shadow: 1px 1px #ffffff;
    padding-right: 5px;
    font-size: 1.2rem;
    margin-top: 3%;
 }

 #directionalBtn{
  align-items: center;
  appearance: none;
  background-color: #24242b48;
  border-radius: 2px;
  border-width: 0;
  box-sizing: border-box;
  cursor: pointer;
  height: 38px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  margin-left: 12px;
  padding-left: 16px;
  padding-right: 16px;
  will-change: box-shadow,transform;
  font-size: 18px;
  color:white;
  text-shadow: 2px 2px #4b2727;
  margin-right: 30px;
}

#directionalBtn:hover{
    background-color: #24242b72;
}

#dragAndDropInfo{
    font-size: 16px;
  text-shadow: 1px 1px #ffffff;
}


 .select:hover{
    background-color:red;
 }


.shipSelect{
     display: flex; 
     flex-direction: row;
     padding-left: 10px;
 }

.part{
    border: 1px solid  rgba(80, 71, 71, 0.918);
    height: 30px;
    width: 30px;
    background-color: rgb(112, 108, 108);
}


.rotated {
    flex-direction: column;
    flex-wrap: no-wrap;
    padding-right: 20px;
    }

/* game */

#boardContainer{
    display: none;
    justify-content: center;
    align-items: center;
}

.board{
    display: grid;
    grid-template-columns: repeat(10, 0fr);
    padding-right: 20px; 
}

.grid{
    height: 2.5rem;
    width: 2.5rem;
    background-color: rgba(85, 85, 85, 0.745);
    border: 1px solid rgba(80, 71, 71, 0.918);
}

.human[data-empty="false"]{
    background-color: rgba(255, 255, 255, 0.676);
}

.human[data-damaged="true"]{
    background-color: rgb(10, 10, 10);
}

.computer[data-damaged="true"]{
    background-color: rgb(10, 10, 10);
}

.select[data-empty="false"]{
    background-color: rgba(255, 255, 255, 0.676);
}

[data-was-shot="true"]{
    background-color: green;
}

[data-damaged="true"]{
    background-color: palevioletred;
};

[data-damaged="true"]{
    background-color: palevioletred;
}

.over {
    background-color: green;   
} 

.winContainer{
    background: url(../src/imgs/BG_1.jpeg) no-repeat center center fixed; 
    display: none;
    position: fixed;
    z-index: 1;
    left: 0; 
    top: 0; 
    height: 100%;
    width: 100%; 
    overflow: auto; 
    color: rgb(75, 120, 115);
    animation-name: modalopen;
    animation-duration: 0.5s; 
}
  
#winContent{
    background-color: #8a8a8a73;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 10%;
    right: 10%;
    text-align: center;
    top: 20%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),
    0 7px 20px 0 rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    border-radius: 10px;
  }

#playerWinMessage{
    font-size: 70px;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    margin-bottom: 0%;
    font-family: 'Quicksand', sans-serif;
    text-shadow: 2px 2px #4b2727;

}

  #shipIcon{
    margin-top: 0%;
    margin-bottom: 5%;
    width: 40%;
    height: 40%;
  }

#restartGameBtn{
    position: fixed;
    right: 11%;
    padding-top: 10px;
    font-size: 30px;
    padding-right: 5px;
    color: rgb(106, 106, 106);
    outline: none;
}

#restartGameBtn:hover{
    filter:brightness(50%);
    cursor: pointer;
}

