body{
    margin: 0;
    min-height: 100vh;
    background: url(../src/imgs/BG_1.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;  
}

header{
    text-align: center;
}

/* game selection */

#startContainer{
    display: flex;
 } 

 #selectBoard{
     padding-left: 5%;
 }

 .select:hover{
    background-color:red;
 }

.shipSelect{
     display: flex; 
 }

.part{
    border: 1px solid  rgba(80, 71, 71, 0.918);
    height: 30px;
    width: 30px;
    background-color: rgb(112, 108, 108);
    /* margin-top: 10px; */
}


/* game */

#boardContainer{
    /* display:flex; */
    display: none;
    justify-content: center;
    align-items: center;
}

.board{
    display: grid;
    grid-template-columns: repeat(10, 0fr);
    padding-right: 20px;
}

.grid{
    height: 2rem;
    width: 2rem;
    background-color: #555;
    border: 1px solid rgba(80, 71, 71, 0.918);
}

.human[data-empty="false"]{
    background-color: red;
}

.human[data-damaged="true"]{
    background-color: rgb(10, 10, 10);
}

.select[data-empty="false"]{
    background-color: red;
}

[data-was-shot="true"]{
    background-color: green;
}

[data-damaged="true"]{
    background-color: palevioletred;
};

[data-damaged="true"]{
    background-color: palevioletred;
}

/* win modal */

.winContainer{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0; 
    top: 0; 
    height: 100%;
    width: 100%; 
    overflow: auto; 
    color: rgb(75, 120, 115);
    animation-name: modalopen;
    animation-duration: 0.5s; 
    background-color: rgba(162, 157, 156);
}
  
#winContent{
    background-color: #8c6161be;
    position: absolute;
    top: 30%;
    left: 50%;
    margin: auto;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),
    0 7px 20px 0 rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    font-family: 'Just Another Hand', cursive;
    border-radius: 10px;
  }

.over {
    background-color: green;   
}