body{
    margin: 0;
    min-height: 100vh;
    background: url(../src/imgs/BG_1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;  
}